asgiref==3.6.0
beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
dj-database-url==2.0.0
Django==4.2
django-bootstrap-v5==1.0.11
django-environ==0.10.0
django-dynamic-model==0.3.0
gunicorn==20.1.0
idna==3.4
install==1.3.5
postgres==4.0
psycopg2==2.9.6
psycopg2-binary==2.9.6
psycopg2-pool==1.1
requests==2.30.0
soupsieve==2.4.1
sqlparse==0.4.4
typing_extensions==4.5.0
tzdata==2023.3
urllib3==2.0.2
mysqlclient==2.1.1
pandas==2.0.0
numpy==1.23.5
